<ion-view style="" title="Lists">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <a style="" class="button button-stable button-block  icon-right ion-android-checkbox-outline" ui-sref="tabsController.list1">List 1</a>
        <a style="" class="button button-stable button-block  icon-right ion-android-checkbox-outline" ui-sref="tabsController.list2">List 2</a>
        <a style="" class="button button-stable button-block  icon-right ion-android-checkbox-outline" ui-sref="tabsController.list2">List 3</a>
    </ion-content>
</ion-view>