<ion-view style="" title="Tabs Controller">
    <ion-tabs style="" class="tabs-light tabs-icon-top">
        <ion-tab style="" title="Main" icon="ion-ios-color-filter-outline" href="#/tabs/intro">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Lists" icon="ion-ios-compose-outline" href="#/tabs/lists">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Videos" icon="ion-ios-film" href="#/tabs/videos">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>