<ion-view style="" title="Videos">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <a style="" class="button button-stable button-block " ui-sref="tabsController.video1">1</a>
            <a style="" class="button button-stable button-block " ui-sref="tabsController.video2">2</a>
            <a style="" class="button button-stable button-block " ui-sref="tabsController.video3">3</a>
        </div>
    </ion-content>
</ion-view>