<ion-view style="" title="Video #1">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
            <iframe src="https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" height="315" width="560"></iframe>
        </div>
        <div style="width: 300px; height: 39px;" class="spacer"></div>
        <div style="">
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>